ul {
    font-family: Arial;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav li {
    font-size: 15px;
}

.topnavleft {
    position: fixed;
    left: 0;
}

.topnavright {
    position: fixed;
    right: 0;
}

.center {
    padding: 150px 0;
    text-align: center;
}

.botnav {
    height: 20px; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    background-color: rgb(212, 212, 212);
}

.botnavleft {
    position: fixed;
    left: 0;
}

.botnavright {
    position: fixed;
    right: 0;
}

#query-bar{
    width: 350px;
}