div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:205px;
    width: 25%;
    text-align: center;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    display: inline;
}

li.right {
    float: right;
}